{% extends "layout.html" %}
{% block content %}
<h3 class = "pt-4">A little about me:</h3>
<p>
    Hi, I am Scott. I am a 33 year old new father. I grew up in Sydney and moved to the Gold Coast in 
    Nov 2019 to be with my current partner and to take advantage of the world popular surf spots. If I 
    am not surfing I may be at the local footy stadiums watching the rugby. Around 2016 I started an 
    engineering diploma where I was exposed to many programming languages and there capabilities. Since 
    then I have grown a passion for programming. A year ago I wanted to focus my attention specifically 
    on software development/engineering so I decided to do an intense boot camp. I have now completed the 
    boot camp. I continue to grow every day building websites for myself and close family. This portfolio 
    is on top of the list. I also enjoy completing a codewars challenge  everyday in python and javascript to 
    sharpen my skills. I enjoy the challenge.     
</p>
<h3 class = "pt-4">A lot about me:</h3>
<div id="textColumn">
    <div id="contain">
        <img id="pic"src="/static/img/DreamBig.jpg">
        <h5 class="text-center">Past:</h5>
        <p>
            Finishing high school with average marks I was not sure where I wanted to go in life. 
            All my friends were becoming tradesman and I thought I may aswell join the band wagon. 
            Constantly being told by close family that it is great pay and you will be able to find 
            work anywhere. Motivated by money I chased a position and through hard work I 
            completed my trade as a carpenter. I soon realised that I really enjoyed the maths and 
            calculations on the job more so then the physical work. Mathematics and calculations are 
            such a small part of the day. I needed more. I soon learned that money does not make you 
            happy. I needed a new dream, a passion to inspire me. 
        </p>
        <p>    
            I decided to go back and do my higher school certificate again as an adult three nights a week 
            for four hours a night. I remember writing a sentence for the first time which seemed very foreign. 
            I decided to study all the hardest course's I could. Such as advanced mathematics and physics. It was 
            a massive learning curve. The results I got were enough for me to be accepted into the 
            University of Technology, Sydney where I studied a Diploma in Professional Engineering 
            practice majoring in Electrical Engineering. I completed all core subjects and was exposed to computer 
            science and machine learning. The dream is was not over. I once heard a phrase by Neil Degrasse Tyson 
            "Aim for the moon because if you miss you will hit the stars". I feel now in the present I 
            am amongst the stars. 
        </p>
    </div>
    <div id="contain">
        <img id="pic"src="/static/img/PassionLed.jpg">
        <h5 class="text-center">Present:</h5>
        <p>
            I am currently living in the Gold Coast. I grew up at Maroubra beach, Sydney. The change from 
            the big smoke was due. Chasing my dream girl and the surf was too good an opportunity to refuse.    
            I met my partner in the Gold Coast who is now the mother of my daughter. My partner 
            motivated me in my final decision to sign up for a very expensive boot camp where I completed 
            a diploma in IT. Through my experience at university I grew a passion for programming. I
            was amazed at the possibilities. Ironically I failed my first ever programming course at 
            university which was fundementals of C. Sadly the construction industry did not have many 
            transferable skills in the logics of IT. Where others may quit I felt inspired. I have this desire to 
            achieve goals. I persevered with the course in the next term where our team and I excelled. 
            I went on to complete many other programming related course's.
        </p>
        <p>
            Completing the boot camp was no easy task. I spent many hours outside of the course studying. 
            Sometimes upto 14 hours a day to complete requirements. I often think I have never worked so 
            hard on anything in my life. Yet I feel rewarded and satisfied. Every now and then my partner 
            will here a woo hoo coming from the office I built for us. It often ment I made a discovery 
            or solved a problem. The course I complete was call Code, Cloud and Cyber Security. A big part 
            of it was building backend web applications using python and some of its packages and deploying
            them on AWS. The final project was a full stack website deployed. 
        </p>
    </div>
    <div id="contain">
        <img id="pic"src="/static/img/PutInTheWork.jpg">
        <h5 class="text-center">Future:</h5>
        <p>
            So I look to the future with optimism. I know I have made the right choice in the path I want to 
            go in. I will continue to put in the work. I have developed many resources to learn propramming 
            skills since finishing the course plus a line up of websites to build for close family. I look to 
            start working as a full stack developer and move into 
            dev ops as my skills progress. I hope that my next job will have a combination of full stack 
            development, development operations and some cloud based activities. I definitely do not have 
            tunnel vision and open minded to any opportunities. I would also like to explore machine learning
            as a hobby. I once read a book on the history of calculus. It was called Infinite Powers by Steven 
            Strogatz. In the final chapters Steven talks about how he thinks Albert Einstein will be the last 
            individual to have a major impact and contribution to science. Steven talks about how all the new 
            world un-resolved theories and concepts, primarily non-linear, will be solved through machine learning. 
        </p>
        <p>
            I now look to the future as an open book and my laptop the canvas on which I write my own path. I will 
            bring passion, self-motivation and the ability to never stop learning where ever I go.  
        </p>
    </div>
</div>
        {% endblock %}
