{% extends "layout.html" %}
{% block content %}
<div class="container-fluid" style="height:100vh;">
    <div class="d-flex align-items-center justify-content-center" style="height:100vh;">
        <div class="container text-center">
            <h1>Hi, My name is Scott</h1>
            <h4>I am a software developer</h4>
            <div class="d-grid gap-3 col-2 mx-auto">
                <button id="button" class="rounded-pill" type="button">My Resume</button>
                <button id="button" class="rounded-pill" type="button">Learn more about me</button>
              </div>
        </div>
    </div>
 </div>
{% endblock %}